<?xml version="1.0"?>
<config>
    <modules>
        <MiTAC_Hello>
            <version>1.0.0</version>            
        </MiTAC_Hello>
    </modules>
	<global>
		<blocks>
			<mitachello>
				<class>MiTAC_Hello_Block</class>
			</mitachello>
		</blocks>
		<helpers>
		    <mitachello>
				  <class>MiTAC_Hello_Helper</class>
			</mitachello>
		</helpers>
		<models>
			<mitachello>
				<class>MiTAC_Hello_Model</class>
				<resourceModel>mitachello_mysql4</resourceModel>
			</mitachello>
			<mitachello_mysql4>
				<class>MiTAC_Hello_Model_Mysql4</class>
				<entities>
					<message>
						<table>mitac_message</table>
					</message>
				</entities>
			</mitachello_mysql4>
		</models>
		<resources>
			<mitachello_setup>
				<setup>
					<module>MiTAC_Hello</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mitachello_setup>
			<mitachello_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mitachello_write>
			<mitachello_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mitachello_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<mhello>
				<use>standard</use>
				<args>
					<module>MiTAC_Hello</module>
					<frontName>mhello</frontName>
				</args>
			</mhello>
		</routers>
		<layout>
			<updates>
				<mhello Module="MiTAC_Hello">
					<file>mitac/hello.xml</file>
				</mhello>
			</updates>
		</layout>
		<translate>
			<modules>
				<mhello>
					<files>
						<default>MiTAC_Hello.csv</default>
					</files>
				</mhello>
			</modules>
		</translate>
		<events>
			<customer_register_success>
				<observers>
					<newCustomerMessage>
						<type>singleton</type>
						<class>MiTAC_Hello_Model_Observer</class>
						<method>newCustomerMessage</method>
					</newCustomerMessage>
				</observers>
			</customer_register_success>
		</events>
	</frontend>	
</config>
