<?xml version="1.0"?>
<config>
    <modules>
        <AYG_Slider>
            <version>0.1.0</version>
        </AYG_Slider>
    </modules>
    <frontend>
        <translate>
            <modules>
                <AYG_Slider>
                    <files>
                        <default>AYG_Slider.csv</default>
                    </files>
                </AYG_Slider>
            </modules>
        </translate>
        <layout>
            <updates>
                <slider>
                    <file>ayg/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <slider>
                <use>admin</use>
                <args>
                    <module>AYG_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AYG_Slider>
                    <files>
                        <default>AYG_Slider.csv</default>
                    </files>
                </AYG_Slider>
            </modules>
        </translate>
        <layout>
            <updates>
                <slider>
                    <file>ayg/slider.xml</file>
                </slider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <slider>
                <class>AYG_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>AYG_Slider_Model_Mysql4</class>
                <entities>
                    <slide>
                        <table>ayg_slider</table>
                    </slide>
                    <slide_store>
                        <table>ayg_slider_store</table>
                    </slide_store>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>AYG_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>AYG_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>AYG_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
    <default>
        <slider>
            <general>
                <speed>5</speed>
            </general>
        </slider>
    </default>
</config>