<?xml version="1.0"?>
<config>
    <modules>
        <MiTAC_Faq>
            <version>1.0.0</version>            
        </MiTAC_Faq>
    </modules>
	<global>
		<blocks>
			<mitacfaq>
				<class>MiTAC_Faq_Block</class>
			</mitacfaq>
		</blocks>
		<helpers>
		    <mitacfaq>
				  <class>MiTAC_Faq_Helper</class>
			</mitacfaq>
		</helpers>
		<models>
			<mitacfaq>
				<class>MiTAC_Faq_Model</class>
				<resourceModel>mitacfaq_resource</resourceModel>
			</mitacfaq>
			<mitacfaq_resource>
				<class>MiTAC_Faq_Model_Resource</class>
				<entities>
					<faqs>
						<table>mitac_faqs</table>
					</faqs>
					<category>
						<table>mitac_faqs_category</table>
					</category>
				</entities>
			</mitacfaq_resource>
		</models>
		<resources>
			<mitacfaq_setup>
				<setup>
					<module>MiTAC_Faq</module>					
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</mitacfaq_setup>
			<mitacfaq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</mitacfaq_write>
			<mitacfaq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</mitacfaq_read>
		</resources>
	</global>
	<frontend>
		<routers>
			<mitacfaq>
				<use>standard</use>
				<args>
					<module>MiTAC_Faq</module>
					<frontName>mitacfaq</frontName>
				</args>
			</mitacfaq>
		</routers>
		<layout>
			<updates>
				<mitacfaq Module="MiTAC_Faq">
					<file>mitac/faq.xml</file>
				</mitacfaq>
			</updates>
		</layout>
		<!--translate>
			<modules>
				<mhello>
					<files>
						<default>MiTAC_Hello.csv</default>
					</files>
				</mhello>
			</modules>
		</translate>
		<events>
			<customer_register_success>
				<observers>
					<newCustomerMessage>
						<type>singleton</type>
						<class>MiTAC_Hello_Model_Observer</class>
						<method>newCustomerMessage</method>
					</newCustomerMessage>
				</observers>
			</customer_register_success>
		</events-->
	</frontend>	
	<admin>
		<routers>
			<mitacadminfaq>
				<use>admin</use>
				<args>
					<module>MiTAC_Faq</module>
					<frontName>mitacadminfaq</frontName>
				</args>
			</mitacadminfaq>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<mitacfaq>
					<file>mitac/faq.xml</file>
				</mitacfaq>
			</updates>
		</layout>
	</adminhtml>
</config>
